# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Node.js
node_modules/
dist/
build/
*.log
.env*

# C++
build/
bin/
obj/
out/
*.o
*.so
*.a
*.exe
*.dll

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
