fastapi
uvicorn
sentence-transformers
pydantic-settings
google-generativeai
langchain
langchain-community
langchain-core
langchain-text-splitters
qdrant-client
cohere
python-dotenv
numpy
pytest
python-jose[cryptography]
passlib[bcrypt]